.dog-care-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader-container p {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.dog-care-header {
  height: 100px;
  width: 90%;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: #727272;
}

.dog-care-logo {
  padding: 1px;
  height: 60px;
  width: auto;
}

.dog-care-firstMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.dog-care-secondMenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.dog-care-firstMenu li {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.dog-care-firstMenu li a {
  color: white;
}

.dog-care-secondMenu li {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.dog-care-secondMenu li a {
  color: black;
}

.dog-care-content {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.dog-care-footer {
  width: 100%;
  height: 300px;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.footer-greyList {
  text-align: left;
  font-size: 1.2rem;
  list-style: none;
  font-weight: 600;
  color: #c4c4c4;
}

.footer-greyList li {
  margin: 10px 0;
}

.social-media-logo {
  width: 32px;
  height: 32px;
  margin: 40px;
}

.footer-second-greyList {
  text-align: left;
  list-style: none;
  font-weight: 600;
  color: #727272;
}

.footer-second-greyList li {
  margin: 10px 0;
}

.footer-rights {
  text-align: center;
  list-style: none;
  font-weight: 600;
  color: #727272;
}
